.filed:focus-within {
    border-color: #4A88FC;
}
.filed:focus-within .field-label {
    color: #4A88FC;
}

.field-label {
    font-size: 16px;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    color: darkgray;
    transition-duration: 150ms;
}